input[type=text] {
    background-color : white;
    color : black;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom:10px;
}

input[type=email] {
    background-color : white;
    color : black;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom:10px;
}
input[type=password] {
    background-color : white;
    color : black;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom:10px;
}


textarea{
    background-color : white;
    color : black;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.col-sm-9{
    margin: auto;
    width: 100%;
    padding: 200px;

}
.col-sm-3{
    margin: auto;
    width: 100%;
    padding: 200px;

}